In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
# Load the CSV file into a DataFrame
#no NAN values
df = pd.read_csv("./test.csv")

In [2]:
df.iloc[4629, 1] = 'Male'

In [3]:
dum=pd.get_dummies(df,columns=["gender",'work_type','ever_married','Residence_type',"smoking_status"])

# Convert boolean values to 0 and 1
dum = dum * 1

In [4]:
dum = dum.drop('id', axis=1)
# dum = dum.drop('work_type', axis=1)
# dum = dum.drop('ever_married', axis=1)
# dum = dum.drop('Residence_type', axis=1)

In [5]:
print(dum["age"].skew())
print(dum["avg_glucose_level"].skew())
print(dum["bmi"].skew())

-0.11412091938067653
3.0657200241835607
0.8624258583977021

In [6]:
IQR = dum["bmi"].quantile(0.85) - dum["bmi"].quantile(0.15)
Lower_fence1 = dum["bmi"].quantile(0.15) - (IQR * 3)
Upper_fence1 = dum["bmi"].quantile(0.85) + (IQR * 3)
print(Lower_fence1,Upper_fence1)

-17.800000000000004 73.9

In [7]:
dum["bmi"]=np.where(dum["bmi"]>Upper_fence1,Upper_fence1,dum["bmi"])
print(dum[dum["bmi"]>Upper_fence1])

Empty DataFrame
Columns: [age, hypertension, heart_disease, avg_glucose_level, bmi, gender_Female, gender_Male, work_type_Govt_job, work_type_Never_worked, work_type_Private, work_type_Self-employed, work_type_children, ever_married_No, ever_married_Yes, Residence_type_Rural, Residence_type_Urban, smoking_status_Unknown, smoking_status_formerly smoked, smoking_status_never smoked, smoking_status_smokes]
Index: []

In [8]:
IQR = dum["avg_glucose_level"].quantile(0.85) - dum["avg_glucose_level"].quantile(0.15)
Lower_fence = dum["avg_glucose_level"].quantile(0.15) - (IQR * 3)
Upper_fence = dum["avg_glucose_level"].quantile(0.85) + (IQR * 3)
print(Lower_fence,Upper_fence)

-30.34549999999983 203.09399999999977

In [9]:
dum["avg_glucose_level"]=np.where(dum["avg_glucose_level"]>Upper_fence,Upper_fence,dum["avg_glucose_level"])
print(dum[dum["avg_glucose_level"]>Upper_fence])

Empty DataFrame
Columns: [age, hypertension, heart_disease, avg_glucose_level, bmi, gender_Female, gender_Male, work_type_Govt_job, work_type_Never_worked, work_type_Private, work_type_Self-employed, work_type_children, ever_married_No, ever_married_Yes, Residence_type_Rural, Residence_type_Urban, smoking_status_Unknown, smoking_status_formerly smoked, smoking_status_never smoked, smoking_status_smokes]
Index: []

In [10]:
mea = dum['age'].mean()
vari = dum['age'].var()

upperbound=mea+(5*vari)
dum["age"]=np.where(dum["age"]>upperbound,upperbound,dum["age"])
print(dum[dum["age"]>upperbound])

Empty DataFrame
Columns: [age, hypertension, heart_disease, avg_glucose_level, bmi, gender_Female, gender_Male, work_type_Govt_job, work_type_Never_worked, work_type_Private, work_type_Self-employed, work_type_children, ever_married_No, ever_married_Yes, Residence_type_Rural, Residence_type_Urban, smoking_status_Unknown, smoking_status_formerly smoked, smoking_status_never smoked, smoking_status_smokes]
Index: []

In [11]:
scaler = MinMaxScaler()

# Fit and transform the data in the specified column
dum['bmi'] = scaler.fit_transform(dum[['bmi']])

In [12]:



dum['avg_glucose_level'] = scaler.fit_transform(dum[['avg_glucose_level']])

In [13]:
dum['age'] = scaler.fit_transform(dum[['age']])

In [14]:
dum.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,ever_married_No,ever_married_Yes,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0.694824,0,0,0.185303,0.350962,1,0,0,0,1,0,0,0,1,1,0,1,0,0,0
1,0.853516,1,0,0.114480,0.272436,0,1,0,0,1,0,0,0,1,0,1,1,0,0,0
2,0.060059,0,0,0.328436,0.128205,1,0,0,0,0,0,1,1,0,0,1,1,0,0,0
3,0.682617,0,0,0.095422,0.479167,1,0,1,0,0,0,0,0,1,0,1,0,0,0,1
4,0.389648,0,0,0.378648,0.298077,0,1,0,0,1,0,0,0,1,1,0,0,0,0,1

In [15]:
dum.to_csv('x_testnew.csv', index=False)

In [16]:
df = pd.read_csv("./x_testnew.csv")
df.shape

(10204, 20)